<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header bg-yellow">
        <nav class="navigator flex f-direction-column j-content-center">
            <div class="barra__inicial flex align-center j-content-space-betwen mg-lat-1vh">
                <img src="../public/img/logo-mercado-liebre.svg" alt="Logo" class="logo">
                <form action="" class="barra__busqueda flex mg-lat-1vh">
                    <input class="barra_busqueda" type="text" placeholder="Buscar">
                    <button class="bg-blue"><img src="../public/img/search.svg" alt=""></button>
                </form>
                <button class="button_slide"></button>
                <img src="../public/img/D_NQ_957153-MLA69318147677_052023-OO.webp" alt="disney plus" class="logo disney__add">
            </div>
            <div class="slide bg-yellow">
                <button class="close btn-cls"></button>
                <div class="head-slide"></div>
                <div class="elements alto-50 mg-center text-dark txt-center">
                    <ul class="pointer">
                        <li class="element_navlist">Ofertas</li>
                        <li class="element_navlist">Tiendas Oficiales</li>
                        <li class="element_navlist">Vender</li>
                        <li class="element_navlist">Ayuda</li>
                    </ul>
                    <ul class="pointer">
                        <li class="element_navlist">Crea tu Cuenta</li>
                        <li class="element_navlist">Ingresa</li>
                        <li class="element_navlist">Mis Compras</li>
                    </ul>
                </div>
                <div class="foot-slide"></div>
            </div>
            <div class="slogan flex align-center j-content-center">
                <p class="parafo text-white txt-center">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </nav>
    </header>
    <main>
        <section class="section_presentacion">
            <video src="../public/img/videoplayback.mp4" class="presentacion-vid" muted autoplay loop></video>
            <div class="poligon_presentacion flex align-center j-content-center">
                <p class="text-white txt-center parafo">Conoce más acerca de nuestros productos y mirá todas las ofertas</p>
            </div>
        </section>
        <section class="ultima_visita">
            <div class="prom-sect bg-white fz-parr flex mg-center j-content-center align-center f-direction-column">
                <h3 class="text-dark">Mismo precio en hasta 6 cuotas</h3>
                <a href="" class="text-blue antiancor">Ver promociones bancarias</a>
            </div>
            <h1 class="mg-lat-3vh title_uv bg-white">Ultima visita</h1>
            <div class="flex j-content-center align-center mg-lat-3vh content-view">
                <div class="element_card bg-white">
                    <div>
                        <img src="../public/img/img-cafetera-moulinex.jpg" alt="element" class="img_element">
                        <span class="descuento">20% off</span>
                    </div>
                    <div class="flex f-direction-column cont-date">
                        <h3 class="price">6770$</h3>
                        <h4>Cafetera Moulinex</h4>
                        <h3 class="text-green">Envio gratis!</h3>
                    </div>
                </div>
                <div class="element_card  not-mobile bg-white">
                    <div>
                        <img src="../public/img/img-macbook-pro-2019.jpg" alt="element" class="img_element">
                        <span class="descuento">20% off</span>
                    </div>
                    <div class="flex f-direction-column cont-date">
                        <h3 class="price">6770$</h3>
                        <h4>Cafetera Moulinex</h4>
                        <h3 class="text-green">Envio gratis!</h3>
                    </div>
                </div>
                <div class="element_card not-mobile__2 bg-white">
                    <div>
                        <img src="../public/img/img-tv-samsung-smart.jpg" alt="element" class="img_element">
                        <span class="descuento">20% off</span>
                    </div>
                    <div class="flex f-direction-column cont-date">
                        <h3 class="price">6770$</h3>
                        <h4>Cafetera Moulinex</h4>
                        <h3 class="text-green">Envio gratis!</h3>
                    </div>
                </div>
            </div>
            <div class="mg-lat-3vh title_uv flex j-content-space-betwen align-center">
                <h1 class="text-blue">Ver historial de navegacion</h1>
                <img src="../public/img/chevron-right.svg" alt="">
            </div>
        </section>
        <section class="ofertas">
            <div class="element_card">
                <img src="" alt="element" class="img_element">
                <h3>6770$</h3>
                <span>20% off</span>
                <h4>Cafetera Moulinex</h4>
            </div>
        </section>
    </main>
    <footer>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</span>
        <h1>Envío gratis desde $ 2.500</h1>
        <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</span>
        <h1>Seguridad, de principio a fin</h1>
        <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.</span>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
<script src="../public/js/index.js"></script>
</body>

</html>