<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mercado Liebre</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/svg/mercado-liebresintxt.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script defer src="../public/js/redirect.js"></script>
    <script defer src="../public/js/modal.js"></script>
</head>
<body>
    <header class="header bg-yellow w-100">
        <nav class="navigator flex f-direction-column j-content-center">
            <div class="barra__inicial flex align-center j-content-space-betwen mg-lat-1vh">
                <img src="../public/svg/mercado-liebresintxt.svg" alt="Logo" class="pointer logo link" data-endpoint="/">
                <form action="" class="barra__busqueda flex mg-lat-1vh">
                    <input class="barra_busqueda" type="text" placeholder="Buscar">
                    <button class="bg-blue"><img src="../public/svg/search.svg" alt=""></button>
                </form>
                <button class="button_slide"></button>
                <img src="../public/img/D_NQ_957153-MLA69318147677_052023-OO.webp" alt="disney plus" class="logo disney__add">
            </div>
            <div class="slide bg-yellow">
                <button class="close btn-cls"></button>
                <div class="head-slide"></div>
                <div class="elements alto-50 mg-center text-dark txt-center">
                    <ul class="pointer">
                        <li class="element_navlist">Ofertas</li>
                        <li class="element_navlist">Tiendas Oficiales</li>
                        <li class="element_navlist">Vender</li>
                        <li class="element_navlist">Ayuda</li>
                    </ul>
                    <ul class="pointer">
                        <li class="element_navlist">Crea tu Cuenta</li>
                        <li class="element_navlist">Ingresa</li>
                        <li class="element_navlist">Mis Compras</li>
                    </ul>
                </div>
                <div class="foot-slide"></div>
            </div>
            <div class="slogan flex align-center j-content-center">
                <p class="parafo text-white txt-center">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </nav>
    </header>
    <main class="flex align-center j-content-center f-direction-column">
        <section class="section_presentacion">
            <video src="../public/img/videoplayback.mp4" class="presentacion-vid" muted autoplay loop></video>
            <div class="poligon_presentacion flex align-center j-content-center">
                <p class="text-white txt-center parafo">Conoce más acerca de nuestros productos y mirá todas las ofertas</p>
            </div>
        </section>
        <section class="ultima_visita">
            <div class="prom-sect bg-white fz-parr flex j-content-center align-center">
                <img src="../public/svg/cart.svg" alt="carrito" class="logo">
                <div class="flex f-direction-column">
                    <h3 class="text-dark">Mismo precio en hasta 6 cuotas</h3>
                    <a href="" class="text-blue antiancor">Ver promociones bancarias</a>
                </div>
            </div>
            <div class="title-sec flex align-center">
                <h3 class="text-dark fz-title">Ultima visita</h3>
            </div>
            <div class="flex j-content-center align-center mg-lat-3vh content-view">
                <article class="element_card bg-white">
                    <div class="cont-img">
                        <img src="../public/img/img-cafetera-moulinex.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">20% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">6.770 AR$</h3>
                        <h4>Cafetera Moulinex</h4>
                        <span class="cont-envios flex align-center"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-mobile">
                    <div class="cont-img">
                        <img src="../public/img/product-piedra.webp" alt="element" class="zoomeable img_element">
                        <span class="descuento">50% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">200 U$$</h3>
                        <h4>Piedra</h4>
                        <span class="cont-envios flex align-center"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-tablet">
                    <div class="cont-img">
                        <img src="../public/img/product-movie.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">40% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">500 AR$</h3>
                        <h4 class="fz-parr">Cars (2005)</h4>
                        <span class="cont-envios flex align-center fz-parr"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-desktop">
                    <div class="cont-img">
                        <img src="../public/img/product-bici.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">10% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">80.770 AR$</h3>
                        <h4>Bicicleta R28</h4>
                        <span class="cont-envios flex align-center"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
            </div>
            <div class="mg-lat-3vh title_uv flex j-content-space-betwen align-center bg-white">
                <h1 class="text-blue">Ver historial de navegacion</h1>
                <img src="../public/svg/chevron-right.svg" alt="arrow">
            </div>
        </section>
        <div class="account-unite bg-white flex f-direction-column align-center j-content-center">
            <h4 class="text-dark mg-lat-3vh">¡Crea una cuenta y mejora tu experiencia!</h4>
            <button class="pointer btn-ml bg-blue text-white w-75 link" data-endpoint="/registro">Crear Cuenta</button>
            <h5 class="text-dark fz-parr">¿Ya tienes cuenta? <span class="text-blue openmod pointer">ingresar</span></h5>
            <div class="not-modal modal-session h-100 w-100 flex align-center j-content-center">
                <form action="" class="form-inicio bg-yellow flex align-center j-content-center f-direction-column" >
                    <button class="close-modal btn-modal pointer"></button>
                    <h1 class="fw-bold fz-title">Inicia sesión</h1>
                    <p class="flex f-direction-column align-center">
                        <label for="">Usuario</label>
                        <input class="style-input  ipt-modal" type="text" name="user" id="user">
                    </p>
                    <p class="flex f-direction-column align-center">
                        <label for="">Contraseña</label>
                        <input class="style-input ipt-modal" type="password" name="password" id="pass">
                    </p>
                    <button type="submit" class="pointer btn-ml bg-blue text-white">ingresar</button>
                    <p>Si no tienes una cuenta <div class="pointer text-blue link" data-endpoint="/registro">INGRESA AQUI</div></p>
                </form>
            </div>
        </div>
        <div class="displas flex align-center j-content-betwen text-white">
            <div>
                <h2>Suscribete al Nivel 6</h2>
            </div>
            <div>
                <span class="palo"></span>
                <p>$2500</p>
                <p>$999</p>
            </div>
        </div>
        <section class="categorias flex f-direction-column mobile">
            <div class="title-sec flex align-center">
                <h3 class="text-dark fz-title">Categorias</h3>
            </div>
            <div class="mobile flex col-first-cat align-center j-content-center">
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/car-front.svg" alt="car" class="">
                    <h4 class="text-dark txt-center">Veichulos</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/joystick.svg" alt="car">
                    <h4 class="text-dark txt-center">Juegos y Consolas</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/phone.svg" alt="car">
                    <h4 class="text-dark txt-center">Celulares y Tabletas</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/pc-display.svg" alt="car">
                    <h4 class="text-dark txt-center">Computacion</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/brush.svg" alt="car">
                    <h4 class="text-dark txt-center">Arte y Recreación</h4>
                </div>
                <div class="not-element card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/house.svg" alt="car">
                    <h4 class="text-dark txt-center">Hogar</h4>
                </div>
            </div>
            <div class="div-catwo mobile not-desktop" id="sectwo-cat">
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/book.svg" alt="car" class="">
                    <h4 class="text-dark txt-center">Libros</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/heart-pulse.svg" alt="car">
                    <h4 class="text-dark txt-center">Salud</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/watch.svg" alt="car">
                    <h4 class="text-dark txt-center">Relojeria</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/mic.svg" alt="car">
                    <h4 class="text-dark txt-center">Perifericos</h4>
                </div>
                <div class="card-cat flex j-content-center align-center f-direction-column bg-white">
                    <img src="../public/svg/box-seam.svg" alt="car">
                    <h4 class="text-dark txt-center">Mas</h4>
                </div>
            </div>
        </section>
        <section class="ofertas">
            <div class="title-sec flex align-center">
                <h3 class="text-dark fz-title">Ofertas</h3>
            </div>
            <div class="flex j-content-center align-center mg-lat-3vh content-view">
                <article class="element_card bg-white">
                    <div class="cont-img">
                        <img src="../public/img/product-pagani.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">30% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">3.4Mill U$$</h3>
                        <h4>Pagani Huayra Roadster</h4>
                        <span class="cont-envios flex align-center none"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-mobile">
                    <div class="cont-img">
                        <img src="../public/img/product-mepredmisona.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">10% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">300AR$</h3>
                        <h4>Mepredmisona 40mg</h4>
                        <span class="cont-envios flex align-center"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-tablet">
                    <div class="cont-img">
                        <img src="../public/img/product-rolez.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">35% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">460 U$$</h3>
                        <h4 class="fz-parr">Rolex Model 4</h4>
                        <span class="cont-envios flex align-center fz-parr"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
                <article class="element_card bg-white not-desktop">
                    <div class="cont-img">
                        <img src="../public/img/product-charango.jpg" alt="element" class="zoomeable img_element">
                        <span class="descuento">15% off</span>
                    </div>
                    <div class="flex f-direction-column j-content-center cont-date">
                        <h3 class="price">26.000 AR$</h3>
                        <h4>Charango</h4>
                        <span class="cont-envios flex align-center"><h3 class="text-green">Envio gratis!</h3><span class="truck flex"></span></span>
                    </div>
                </article>
            </div>
        </section>
        <section class="vehicle-sect">
            <div class="txt-center text-white flex align-center f-direction-column j-content-center veititle">
                <h1 class="fz-title fw-bold">Acercate a tu primer 0km</h1>
                <p class="fz-parr">Conoce nuestro catalogo completo!</p>
            </div>
            <div id="car-cont" class="car-cont flex align-center f-direction-column">
                <div class="vei-textsect flex align-center">
                    <img src="../public/img/logo-ford.png" id="logo" alt="ford">
                    <h1 class="title fw-bold text-white">Ford Explorer 2021</h1>
                    <p class="not-tablet desc-vei text-white">El Ford Explorer Hybrid 2021 es el preferido de muchos ya que tiene bastante torque y puede llegar a arrastrar aproximadamente 5000 libras. Este coche es muy cómodo, tiene 3 filas de comodos asientos y tiene espacio dentro de la cabina. Viene con un amplio espacio de carga y tiene una gran presencia en la carretera.</p>
                </div>
                <div class="flex align-center f-direction-column ">
                    <img src="../public/img/ford-explorer.png" alt="ford explorer">
                    <button id="btn-vei" class="btn-ml bg-yellow pointer">Ver todo</button>
                </div>
            </div>
        </section>
    </main>
    <footer class="foot-ml flex f-direction-column align-center j-content-center mobile">
        <section class="shoping-info text-dark">
            <div class="element-shop bg-white flex align-center j-content-center f-direction-column txt-center">
                <img src="../public/svg/credit-card.svg" alt="">
                <h1 class="fz-title">Pagá con tarjeta o en efectivo</h1>
                <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span>
            </div>
            <div class="element-shop bg-white flex align-center j-content-center f-direction-column txt-center">
                <img src="../public/svg/box-seam.svg" alt="">
                <h1 class="fz-title">Envío gratis desde $ 2.500</h1>
                <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span>
            </div>
            <div class="element-shop bg-white flex align-center j-content-center f-direction-column txt-center">
                <img src="../public/svg/shield-check.svg" alt="">
                <h1 class="fz-title">Seguridad, de principio a fin</h1>
                <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</span>        
            </div>
        </section>
        <section class="pie-page w-100 bg-yellow flex f-direction-column align-center j-content-center">
            <img src="../public/svg/logo-mercado-liebre.svg" class="logo" alt="">
            <span class="txt-center">Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
            <a href="https://github.com/JaviCaiola" target="_blank" rel="noopener noreferrer" class="foot-personal">e</a>
        </section>
    </footer>
    <script src="../public/js/index.js"></script>
</body>
</html>