<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header bg-yellow">
        <nav class="navigator flex f-direction-column j-content-center">
            <div class="barra__inicial flex align-center j-content-space-betwen mg-lat-1vh">
                <img src="../public/img/logo-mercado-liebre.svg" alt="Logo" class="logo">
                <button class="button_slide"></button>
            </div>
            <div class="barra__busqueda flex mg-lat-1vh">
                <input class="barra_busqueda" type="text" placeholder="Buscar">
                <button class="bg-blue"><img src="../public/img/search.svg" alt=""></button>
            </div>
            <div class="slogan flex align-center j-content-center">
                <p class="parafo text-white txt-center">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </nav>
        <div class="slide">
            <ul>
                <li class="element_navlist">Ofertas</li>
                <li class="element_navlist">Tiendas Oficiales</li>
                <li class="element_navlist">Vender</li>
                <li class="element_navlist">Ayuda</li>
            </ul>
            <ul>
                <li class="element_navlist">Crea tu Cuenta</li>
                <li class="element_navlist">Ingresa</li>
                <li class="element_navlist">Mis Compras</li>
            </ul>
        </div>
    </header>
    <main>
        <section class="ultima_visita">
            <div class="element_card">
                <img src="../public/img/img-cafetera-moulinex.jpg" alt="element" class="img_element">
                <h3>6770$</h3>
                <span>20% off</span>
                <h4>Cafetera Moulinex</h4>
            </div>
        </section>
        <section class="ofertas">
            <div class="element_card">
                <img src="" alt="element" class="img_element">
                <h3>6770$</h3>
                <span>20% off</span>
                <h4>Cafetera Moulinex</h4>
            </div>
        </section>
    </main>
    <footer>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <span>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
            seguro!</span>
        <h1>Envío gratis desde $ 2.500</h1>
        <span>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
            Mercado Puntos.</span>
        <h1>Seguridad, de principio a fin</h1>
        <span>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
            protegid@.</span>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>

</body>

</html>