<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/svg/mercado-liebresintxt.svg" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <title>Registrate</title>
</head>
<body>
    <header class="header bg-yellow">
        <nav class="navigator flex f-direction-column j-content-center">
            <div class="barra__inicial flex align-center j-content-space-betwen mg-lat-1vh">
                <img src="../public/svg/mercado-liebresintxt.svg" alt="Logo" class="logo">
                <form action="" class="barra__busqueda flex mg-lat-1vh">
                    <input class="barra_busqueda" type="text" placeholder="Buscar">
                    <button class="bg-blue"><img src="../public/svg/search.svg" alt=""></button>
                </form>
                <button class="button_slide"></button>
                <img src="../public/img/D_NQ_957153-MLA69318147677_052023-OO.webp" alt="disney plus" class="logo disney__add">
            </div>
            <div class="slide bg-yellow">
                <button class="close btn-cls"></button>
                <div class="head-slide"></div>
                <div class="elements alto-50 mg-center text-dark txt-center">
                    <ul class="pointer">
                        <li class="element_navlist">Ofertas</li>
                        <li class="element_navlist">Tiendas Oficiales</li>
                        <li class="element_navlist">Vender</li>
                        <li class="element_navlist">Ayuda</li>
                    </ul>
                    <ul class="pointer">
                        <li class="element_navlist">Crea tu Cuenta</li>
                        <li class="element_navlist">Ingresa</li>
                        <li class="element_navlist">Mis Compras</li>
                    </ul>
                </div>
                <div class="foot-slide"></div>
            </div>
            <div class="slogan flex align-center j-content-center">
                <p class="parafo text-white txt-center">Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </nav>
    </header>
    <main>
        <form action="" class="flex w-100 align-center f-direction-column j-content-center h-100" >
            <div>
                <h1 class="txt-center">REGISTRATE</h1>
                <p>Y conoce todos los beneficios y ofertas que te esperan, aprovecha!</p>
            </div>
            <label for="">Nombre</label>
            <input type="text" name="" id="">
            <label for="">Email</label>
            <input type="email" name="" id="">
            <label for="">Contraseña</label>
            <input type="password" name="" id="">
            <button type="submit">Registrarse</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>