.element-shop{
    margin-top: 3vh;
    height: 50vh;
    padding: 0 5vh;
    gap: 1vh;
}
.element-shop img{
    height: 10vh;
}
.pie-page{
    height: 20vh;
    gap: 3vh;
}
@media screen and (min-width:650px) {
    .element-shop{
        width: 30vw;
    }
    .shoping-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
    }
}
@media screen and (min-width:1000px){
    .element-shop{
        width: 20vw;
    }
} 