.element-shop{
    margin-top: 3vh;
    height: 50vh;
    padding: 0 5vh;
    gap: 1vh;
}
.element-shop img{
    height: 10vh;
}
.pie-page{
    height: 35vh;
    gap: 3vh;
}
.foot-personal{
    text-decoration: none;
    color: transparent;
    background: url('../svg/pie-personal.svg') no-repeat;
    background-size: contain;
    height: 13vh;
    width: 70vw;
}
@media screen and (min-width:650px) {
    .element-shop{
        width: 30vw;
    }
    .shoping-info{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
    }
    .foot-personal{
        position: absolute;
        right: 5px;
        height: 7vh;
        width: 21vw;
    }
}
@media screen and (min-width:1000px){
    .element-shop{
        width: 20vw;
    }
} 