.section_presentacion{
    height: 30vh;
}
.poligon_presentacion{
    margin-top: 15vh;
    position: absolute;
    height: 30vh;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: rgba(0, 0, 0, 0.589);
    width: 50vw;
    right: 0;
    top: 0;
}
.poligon_presentacion p{
    width: 13vh;
}
.presentacion-vid{
    position: absolute;
    top: 15vh;
    left: 0;
    height: 30vh;
    width: 100%;
    object-fit: cover;
}
.ultima_visita{
    padding-top: 19vh;
}
.prom-sect{
    width: 100%;
    height: 14vh;
    gap: 1vh;
}
.title_uv{
    margin-top: 1vh;
    padding: 2vh 2vh; 
    border-bottom: 1px solid #3b3b3b;
}
.cont-envios{
    gap: 1vh;
}
.truck{
    background: url('../svg/truck.svg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 1rem;
    width: 1.3rem;
}
.content-view{
    gap: 2vh;
}
.element_card{
    margin-bottom: 2vh;
    transition: linear .2s;
}
.element_card:hover{
    box-shadow: 10px 10px 9px -10px rgba(153,0,255,1);
    background: #f1f1f1;
}
.cont-img{
    width: 89vw;
}
.element_card img{
    height: 45vh;
    width: 100%;
    object-fit: cover;
}
.descuento{
    position: relative;
    background: rgb(162, 0, 255);
    font-weight: bold;
    color: white;
    width: 4vh;
    padding: .5vh 2vw;
    z-index: 2;
}
.cont-date{
    padding: 1.5vh 1vw;
    height: 13vh;
}
.account-unite{
    height: 28vh;
    margin: 4vh 0;
    gap: 2vh;
}
/* modal de inicio de session */
.modal-session{
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    background: #08080873;
}
.form-inicio{
    height: 80vh;
    width: 45vh;
    gap: 3vh;
}
.ipt-modal{
    width: 60vw;
}
.displas{
    height: 20vh;
    border-radius: 4px;
    padding: 0 3vh;
    background: rgb(3,0,131);
    background: linear-gradient(276deg, rgba(3,0,131,1) 13%, rgba(162,36,173,1) 38%);
}
.title-sec{
    height: 10vh;
    margin-left: 3vh;
}
.mobile{
    gap: 2vh;
}
.card-cat{
    width: 45vw;
    height: 40vh;
}
.col-first-cat{
    flex-wrap: wrap;
}
.card-cat img{
    height: 5vh;
    width: 15vw;
    transition: 1s all;
}
.card-cat:hover{
    transform: scale(1.1);
    background: #fff159;
    color: rgb(255, 255, 255);
}
/* Seccion de veichle add */
.vehicle-sect{
    margin: 2vh 0; 
    height: 80vh;
    width: 90%;
    border-radius: 10px;
    background: url('../img/carretera-vei.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.veititle{
    border-radius: 10px 10px 0 0;
    height: 20vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 5%, rgba(0,0,0,0.9470025070575105) 100%);
}
.car-cont{
    height: 60vh;
    justify-content: space-evenly;
}
.car-cont img{
    object-fit: cover;
    height: 10rem;
    width: 13rem;
}
#btn-vei{
    border: 1px solid grey;
    font-weight: 500;
}
#logo{
    height: 2rem;
    width: 5rem;
}
.div-img img{
    width: 30vw;
    height: 10vh;
    object-fit: contain;
    object-position: center;
}
.col-markone{
    flex-wrap: wrap;
    gap: 2vh;
}
.marcas{
    gap: 2vh;
}
@media screen and (min-width:361px) {
    .not-mobile{
        display: initial;
    }
    .cont-img{
        width: 40vw;
    }
    .form-inicio{
        width: 60vh;
    }
    .account-unite{
        width: 100%;
    }
    .displas{
        width: 93%;
    }
    #col-marktwo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width:780px){
    .not-tablet{
        display: initial;
    }
    .poligon_presentacion{
        margin-top: 19vh;
    }
    .vehicle-sect{
        height: 70vh;
    }
    .car-cont{
        height: 47vh;
    }
    .cont-img{
        width: 30vw;
    }
    .form-inicio{
        width: 80vh;
    }
    .vei-textsect{
        flex-direction: column;
        width: 50%;
    }
    .desc-vei{
        padding-top: 2vh;
    }
    #car-cont{
        flex-direction: row;
    }
    .div-img img{
        width: 14vw;
        height: 18vh;
    }
}
@media screen and (min-width:1000px){
    #sectwo-cat{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .car-cont img{
        height: 12rem;
        width: 22rem;
    }
    .card-cat{
        width: 18vw;
        height: 35vh;
    }
    .cont-img{
        width: 23vw;
    }
    .form-inicio{
        width: 100vh;
    }
    .vehicle-sect{
        height: 53vh;
    }
    .car-cont{
        height: 27vh;
    }
}