/*CLASES GENERALES*/
.text-white{
    color: white;
}
.text-green{
    color: rgb(130, 216, 0);
}
.text-blue{
    color: #2968c8;
}
.txt-center{
    text-align: center;
}
.bg-yellow{
    background: #fff159;
}
.bg-blue{
    background: #2968c8;
}
.ancho-25{
    width: 25%;
}
.ancho-75{
    width: 75%;
}
.mg-lat-1vh{
    margin: 0 1vh;
}
.mg-lat-3vh{
    margin: 0 3vh;
}
.flex{
    display: flex;
}
.j-content-center{
    justify-content: center;
}
.j-content-space-betwen{
    justify-content: space-between;
}
.f-direction-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.price{
    font-size: 4.5vh;
    font-weight: bold;
}
/*ESTILOS DEL BODY*/
body{
    font-family: 'Roboto', sans-serif;
}