/*CLASES GENERALES*/
.text-white{
    color: white;
}
.txt-center{
    text-align: center;
}
.bg-yellow{
    background: #fff159;
}
.bg-blue{
    background: #2e41ad;
}
.ancho-25{
    width: 25%;
}
.ancho-75{
    width: 75%;
}
.mg-lat-1vh{
    margin: 0 1vh;
}
.flex{
    display: flex;
}
.j-content-center{
    justify-content: center;
}
.j-content-space-betwen{
    justify-content: space-between;
}
.f-direction-column{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
/*ESTILOS DEL BODY*/
body{
    font-family: 'Roboto', sans-serif;
}